body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.main {
  padding-top: 40px; /* Space for fixed navbar */
}

.style_display_none { 
	display:none 
}
